.button {
  border: none;
  background: #fff;
  color: red;
}

.btn-success {
  width: 100%;
}

.right-content {
  border-left: 1px solid #d8d5d5;
  padding-left: 20px;
  height: 410px;
  overflow: auto;
}
